{% extends "base.html" %}


<!-- about.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Acerca de Nosotros</title>
    <style>
        body {
            text-align: justify;
        }
    </style>
</head>
{% block contenido %}
<body>
    
    <h1>Bienvenidos a Compumundo HiperMegaRed</h1>
    <br><br>
    <img src='/media/media/About.jpeg' alt="Germán Wassermann" style="max-width: 400px; max-height: 300px;" />
    <br><br><br>
    <p>Mi nombre es Germán Wassermann y soy el creador de esta pagina.<br>
    Nací en Pehuajó Pcia de Buenos Aires, Argentina, pero viví la mayor parte de mi vida en Comodoro Rivadavia.<br>
    Cuando terminé la secundaria, me mudé a La Plata a estudiar ingeniería Aeronáutica, carrera que terminé luego
    de 5 años y medio. <br>
    Hoy en día trabajo en Aerolíneas Argentinas en el mantenimiento de las aeronaves.<br>
    Hace unos años comencé en Coderhouse estudiando data analitycs y ahora dando mis primeros pasos en la programación
    con Python y Django</p>
</body>
</html>
{% endblock contenido %} 