{% extends 'base.html' %}

<TITLE>
{% block titulo%}
    INBOX
{% endblock titulo%}

</TITLE>
{% block contenido %}

<!--
<h2>Selecciona un usuario para chatear</h2>
<form method="POST" action="{% url 'crear_canal' %}">
    {% csrf_token %}
    <label for="usuario_destino">Selecciona un usuario:</label>
    <select name="usuario_destino">
        {% for usuario in usuarios %}
            <option value="{{ usuario.username }}">{{ usuario.username }}</option>
        {% endfor %}
    </select>
    <button type="submit">Crear chat</button>
</form>
-->


<h1 style= "width: 70%; margin: 50px auto">
{{user}} Inbox
</h1>







<div class="div_inbox">
    {% for usuario in usuarios %}
        {% with inbox=usuario.canalusuario_set.first %}
            <a href="{% url 'detailms' usuario.username %}">
                <p>{{ usuario.username }} </p>

            </a>
        {% endwith %}
    {% endfor %}
</div>





<style>


    .div_inbox{

        width: 90%;
        margin: 10px auto;
        background: #fff;
        border-radius: 5px;
        border: 3px solid #e6e6e6;
        padding: 5px;

    }



</style>

{% endblock %}